{
    "token": "YOUR BOT TOKEN HERE",
    "guildId": "YOUR GUILD ID",
    "clientId": "BOT ID",

    "grafana": "GRAFANA IP : GRAFANA PORT",
    "username": "YOUR GRAFANA USERNAME HERE",
    "password": "YOUR GRAFANA PASSWORD HERE"

    "mqtt_server": "IP TO MQTT SERVER HERE", 
    "mqtt_topic": "TOPIC FOR MQTT HERE", 
    "mqtt_user": "MQTT USERNAME HERE",
    "mqtt_pass": "MQTT PASSWORD HERE"
}
